.consoles {
  &__list {
    display: flex;
    flex-direction: column;
    background: rgba(42, 46, 48, 0.9);
    height: calc(100vh - 40px);
    overflow-y: scroll;
    gap: 40px;
    padding: 20px;
    width: 600px;

    & h3 {
      margin: 0;
    }
  }

  &__groups {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  &__options {
    display: grid;
    justify-items: flex-start;
    gap: 10px;

    & > h3 {
      justify-self: center;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }

  &__toggle {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
