NEXT_PUBLIC_API_URL=http://localhost:3228
INTERNAL_API_URL=http://localhost:3228
NEXT_PUBLIC_FRONT_URL=http://localhost:3000
NEXT_PUBLIC_CORS_SERVER=http://localhost:3000
NEXT_PUBLIC_APP_VERSION=dev
NEXT_PUBLIC_FARO_APP_NAME=mooncellar-web
LOKI_HOST=http://localhost:3100
GEO_BLOCK_COUNTRIES=
REVALIDATE_SECRET=
