.App {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/peakpx.jpg");
  justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .App {
    flex-direction: column;
  }
}
