.container{
    position: relative;
    width: 100%;
    .wheel{
        .canvas{

        }
    }
    .winner{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            background: black;
            width: 500px;
            text-align: center;
            
            border-radius: 30px;
            height: 100px;
        }
        &__content{
            width: 100%;
            display: flex;
            gap: 10px;
            .img{

            }
            .link{

            }
        }
    }
    .button{
        position: absolute;
        border-radius: 50px;
        font-size: 32px;
        background: white;
        border: 0;
        top: 26%;
        width: 100px;
        height: 100px;
        right: 47.5%;
    }
}