.container {
  height: calc(100vh - 100px);
  padding: 50px;
  display: grid;
  grid-template-rows: 70% 1fr;
  gap: 30px;
  margin-inline: auto;
  min-width: 500px;

  @media screen and (max-width: 820px) {
    min-width: auto;
    padding: 10px;
    padding-top: 50px;
    grid-template-rows: min-content 1fr;
  }

  .wheel {
    display: flex;
    position: relative;
    justify-content: center;
    justify-self: center;
    aspect-ratio: 1;
    height: 100%;

    @media screen and (max-width: 820px) {
      aspect-ratio: unset;
      height: fit-content;
    }

    &_disabled {
      pointer-events: none;
    }

    & button {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      width: 100px;
      color: white;
      aspect-ratio: 1;
      background-color: black;
      border: 3px solid white;
      border-radius: 50%;
      user-select: none;
    }

    & canvas {
      width: 100%;
    }

    & svg {
      position: absolute;
      top: 50%;
      height: 75px;
      transform: translateY(-50%);
      z-index: 1;
      left: calc(50% + 31px);
    }

    &_active {
      & button {
        pointer-events: none;
      }
    }
  }

  .winner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    height: fit-content;

    &__buttons {
      display: flex;
      background-color: #2e353b;
      width: 100%;
      position: absolute;
      bottom: 0;
      border-radius: 0 0 10px 10px;
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
      transition: 0.4s;

      &_active {
        opacity: 0.9;
        pointer-events: all;
      }

      & > button,
      & > a {
        font-size: 12px;
        padding: 10px;
        color: white;
        outline: 0;
        border: 0;
        transition: 0.3s;
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        user-select: none;
        display: inline-flex;
        justify-content: center;

        &:hover {
          background-color: #222222;
        }
      }
    }

    &__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background: black;
      width: 500px;
      text-align: center;
      aspect-ratio: 8/2;
      border-radius: 10px;
      border: 2px solid black;
      box-shadow: black 0 0 20px;
      pointer-events: none;
      max-width: 500px;
      width: 100%;
      transition: 0.3s;

      &_active {
        pointer-events: all;
      }
    }

    &__image {
      border-radius: 10px 0 0 10px;
      height: auto;
      width: 100%;
      opacity: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: 0.3s;
      max-width: 0;

      &_active {
        opacity: 1;
        max-width: 30%;
      }
    }

    &__content {
      width: 100%;
      height: fit-content;
      min-height: 100%;
      display: flex;
      gap: 10px;
      transition: 0.3s;
    }

    &__link {
      font-size: 18px;
      text-align: center;
      color: white;
    }

    &__text {
      display: grid;
      width: 100%;
      padding: 10px;
      gap: 10px;
      height: fit-content;
    }

    &__platform {
      font-size: 14px;
    }
  }
}

.img {
  position: absolute;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 30px;
}
