.container {
  width: 100%;
  .wheel {
    &_disabled {
      opacity: 0.8;
    }
  }
  .winner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;

    &__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background: black;
      width: 500px;
      text-align: center;

      border-radius: 30px;
      height: 100px;
    }
    &__content {
      width: 100%;
      display: flex;
      gap: 10px;
      .link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background: black;
        width: 500px;
        text-align: center;

        border-radius: 30px;
        height: 100px;
      }
    }
  }
}

.img {
  position: absolute;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 30px;
}
