MONGO_CONNECTION_STRING=mongodb://admin:admin@localhost:27017/games?authSource=admin
JWT_SECRET=
JWT_EXPIRE=15m
FRONT_URL=http://localhost:3000
LOCAL_CONNECTION=http://localhost:3000

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

RETROACHIEVEMENTS_API_KEY=

S3_ID=
S3_KEY=
S3_HOST=
S3_HOST_CDN=
S3_REGION=

LOKI_HOST=http://localhost:3100
FARO_COLLECTOR_URL=http://localhost:12347
PROMETHEUS_ENABLED=false
METRICS_TOKEN=

INDEXNOW_KEY=

API_BASE_URL=http://localhost:3228
SEARXNG_URL=http://localhost:8891
ADMIN_EMAIL=
ADMIN_PASSWORD=
