.checkbox {
  display: grid;
  gap: 15px;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & label {
      gap: 15px;
    }

    & span {
      color: white;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: start;
    }
  }

  &__element {
    & g {
      transition: 0.3s;
    }
    &_excluded g {
      color: #c126a9;
      fill: white;
      --checkbox-border-color: #c126a9;
    }
  }
}
